.wrapper {
    margin: 0 auto;
    /* border: 1px solid black; */
    height: 550px;
    width: 900px;
  }
  
  .row {
    margin: 50px;
    /* border: 1px dashed red; */
    height: 200px;
    width: 750px;
    padding-left: 30px;
  }
  
  .kvadrat {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: inline-block;
    margin-right: 50px;
  }
  
  .kvadrat-last {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: inline-block;
  
    background: linear-gradient(
      138.64deg,
      #ffffff -21.71%,
      rgba(243, 247, 239, 0) 94.44%
    );
    box-shadow: 11px 6px 48px 4px #36ff9f, 2px 2px 8px 1px rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(5.5px);
  
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 10px;
    transform: rotate(-180deg);
  }
  
  .bloc {
    height: 70px;
    width: 350px;
    border-radius: 40px;
    margin: 10px auto; /*выравнивание блока по центру и отступы сверху и снизу*/
    background: #b6b7b8; /*фоновый цвет*/
    color: black; /*цвет шрифта*/
    
    float: left; /*обтекане блока по левому краю (при необходимости)*/
  }
  